<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,994},{164,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,43}}</string>
                <key>sourceSize</key>
                <string>{164,43}</string>
            </dict>
            <key>0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,943},{166,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,43}}</string>
                <key>sourceSize</key>
                <string>{166,43}</string>
            </dict>
            <key>0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1039},{152,43}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,43}}</string>
                <key>sourceSize</key>
                <string>{154,43}</string>
            </dict>
            <key>0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,879},{178,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,43}}</string>
                <key>sourceSize</key>
                <string>{178,43}</string>
            </dict>
            <key>0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,834},{178,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,43}}</string>
                <key>sourceSize</key>
                <string>{178,43}</string>
            </dict>
            <key>0_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,709},{181,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,43}}</string>
                <key>sourceSize</key>
                <string>{181,43}</string>
            </dict>
            <key>0_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,643},{181,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,43}}</string>
                <key>sourceSize</key>
                <string>{181,43}</string>
            </dict>
            <key>0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,924},{166,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,43}}</string>
                <key>sourceSize</key>
                <string>{166,43}</string>
            </dict>
            <key>0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,892},{166,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,43}}</string>
                <key>sourceSize</key>
                <string>{166,43}</string>
            </dict>
            <key>0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,415},{226,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,43}}</string>
                <key>sourceSize</key>
                <string>{226,43}</string>
            </dict>
            <key>0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,754},{179,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,43}}</string>
                <key>sourceSize</key>
                <string>{179,43}</string>
            </dict>
            <key>0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,1033},{105,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,43}}</string>
                <key>sourceSize</key>
                <string>{105,43}</string>
            </dict>
            <key>0_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,789},{179,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{179,43}}</string>
                <key>sourceSize</key>
                <string>{181,43}</string>
            </dict>
            <key>0_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,1029},{89,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,43}}</string>
                <key>sourceSize</key>
                <string>{89,43}</string>
            </dict>
            <key>0_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,799},{178,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,43}}</string>
                <key>sourceSize</key>
                <string>{178,43}</string>
            </dict>
            <key>Daily gifts.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,646},{103,122}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{103,122}}</string>
                <key>sourceSize</key>
                <string>{103,128}</string>
            </dict>
            <key>Gifts.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,937},{95,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,124}}</string>
                <key>sourceSize</key>
                <string>{95,124}</string>
            </dict>
            <key>Mutual Aid Red Bags.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,1024},{101,122}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{101,122}}</string>
                <key>sourceSize</key>
                <string>{101,128}</string>
            </dict>
            <key>annue_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,564},{149,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,61}}</string>
                <key>sourceSize</key>
                <string>{149,61}</string>
            </dict>
            <key>annue_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,198},{312,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,85}}</string>
                <key>sourceSize</key>
                <string>{312,85}</string>
            </dict>
            <key>annue_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,111},{312,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,85}}</string>
                <key>sourceSize</key>
                <string>{312,85}</string>
            </dict>
            <key>annue_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,633},{184,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,74}}</string>
                <key>sourceSize</key>
                <string>{184,74}</string>
            </dict>
            <key>annue_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,100},{284,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,93}}</string>
                <key>sourceSize</key>
                <string>{284,93}</string>
            </dict>
            <key>annue_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,285},{311,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,99}}</string>
                <key>sourceSize</key>
                <string>{311,99}</string>
            </dict>
            <key>annue_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,504},{140,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,55}}</string>
                <key>sourceSize</key>
                <string>{140,55}</string>
            </dict>
            <key>annue_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{311,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,85}}</string>
                <key>sourceSize</key>
                <string>{311,85}</string>
            </dict>
            <key>annue_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,415},{266,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,85}}</string>
                <key>sourceSize</key>
                <string>{266,85}</string>
            </dict>
            <key>annue_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,386},{266,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,85}}</string>
                <key>sourceSize</key>
                <string>{266,85}</string>
            </dict>
            <key>beijing_2.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1005,195},{31,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,15}}</string>
                <key>sourceSize</key>
                <string>{31,15}</string>
            </dict>
            <key>beijing_3.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{720,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,20}}</string>
                <key>sourceSize</key>
                <string>{720,20}</string>
            </dict>
            <key>biaoti.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,562},{229,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,72}}</string>
                <key>sourceSize</key>
                <string>{229,72}</string>
            </dict>
            <key>d_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,1127},{114,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,106}}</string>
                <key>sourceSize</key>
                <string>{114,106}</string>
            </dict>
            <key>da.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,369},{277,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,262}}</string>
                <key>sourceSize</key>
                <string>{277,262}</string>
            </dict>
            <key>dadi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,24},{339,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{339,302}}</string>
                <key>sourceSize</key>
                <string>{339,302}</string>
            </dict>
            <key>dengdaiyaoqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,844},{175,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,46}}</string>
                <key>sourceSize</key>
                <string>{175,46}</string>
            </dict>
            <key>di_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,1034},{102,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,101}}</string>
                <key>sourceSize</key>
                <string>{102,101}</string>
            </dict>
            <key>di_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,759},{188,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,209}}</string>
                <key>sourceSize</key>
                <string>{188,209}</string>
            </dict>
            <key>di_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,2},{284,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,96}}</string>
                <key>sourceSize</key>
                <string>{284,96}</string>
            </dict>
            <key>di_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,24},{234,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,63}}</string>
                <key>sourceSize</key>
                <string>{234,63}</string>
            </dict>
            <key>di_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,760},{55,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,58}}</string>
                <key>sourceSize</key>
                <string>{55,58}</string>
            </dict>
            <key>di_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,1060},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>di_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,875},{38,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,52}}</string>
                <key>sourceSize</key>
                <string>{38,52}</string>
            </dict>
            <key>di_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,915},{51,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,45}}</string>
                <key>sourceSize</key>
                <string>{51,45}</string>
            </dict>
            <key>ff_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,24},{312,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,85}}</string>
                <key>sourceSize</key>
                <string>{312,85}</string>
            </dict>
            <key>fuyuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,831},{128,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,78}}</string>
                <key>sourceSize</key>
                <string>{128,78}</string>
            </dict>
            <key>gantan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,473},{29,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,57}}</string>
                <key>sourceSize</key>
                <string>{29,57}</string>
            </dict>
            <key>guanbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,820},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>guanbi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,1170},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>huidaoyouxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,386},{207,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,61}}</string>
                <key>sourceSize</key>
                <string>{207,61}</string>
            </dict>
            <key>huizhang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,983},{112,74}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,7},{112,74}}</string>
                <key>sourceSize</key>
                <string>{116,82}</string>
            </dict>
            <key>huizhang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,962},{96,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,78}}</string>
                <key>sourceSize</key>
                <string>{96,78}</string>
            </dict>
            <key>ji.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1206},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>jia.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,1111},{99,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,99}}</string>
                <key>sourceSize</key>
                <string>{99,99}</string>
            </dict>
            <key>jia_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,969},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,260},{92,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,62}}</string>
                <key>sourceSize</key>
                <string>{92,62}</string>
            </dict>
            <key>js.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,751},{78,138}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{78,138}}</string>
                <key>sourceSize</key>
                <string>{80,140}</string>
            </dict>
            <key>kanshipin.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,653},{204,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,58}}</string>
                <key>sourceSize</key>
                <string>{204,58}</string>
            </dict>
            <key>li_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,753},{129,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,172}}</string>
                <key>sourceSize</key>
                <string>{129,172}</string>
            </dict>
            <key>li_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,195},{281,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,172}}</string>
                <key>sourceSize</key>
                <string>{281,172}</string>
            </dict>
            <key>liangpiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,890},{91,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,82}}</string>
                <key>sourceSize</key>
                <string>{91,82}</string>
            </dict>
            <key>lingqu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,715},{127,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,58}}</string>
                <key>sourceSize</key>
                <string>{127,58}</string>
            </dict>
            <key>lingqu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,937},{94,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,50}}</string>
                <key>sourceSize</key>
                <string>{94,50}</string>
            </dict>
            <key>lixianjiangli.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,949},{177,43}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{177,43}}</string>
                <key>sourceSize</key>
                <string>{181,43}</string>
            </dict>
            <key>lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,595},{47,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,33}}</string>
                <key>sourceSize</key>
                <string>{47,33}</string>
            </dict>
            <key>paihang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{255,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,58}}</string>
                <key>sourceSize</key>
                <string>{255,58}</string>
            </dict>
            <key>qiuhongbao.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,826},{115,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,45}}</string>
                <key>sourceSize</key>
                <string>{115,45}</string>
            </dict>
            <key>qiuzhuhaoyou.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,593},{204,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,58}}</string>
                <key>sourceSize</key>
                <string>{204,58}</string>
            </dict>
            <key>queding.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,693},{127,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,58}}</string>
                <key>sourceSize</key>
                <string>{127,58}</string>
            </dict>
            <key>ranking.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,927},{95,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,124}}</string>
                <key>sourceSize</key>
                <string>{95,124}</string>
            </dict>
            <key>shengji.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,633},{127,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,58}}</string>
                <key>sourceSize</key>
                <string>{127,58}</string>
            </dict>
            <key>shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,1008},{101,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,112}}</string>
                <key>sourceSize</key>
                <string>{101,112}</string>
            </dict>
            <key>shuangbei.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,533},{206,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,58}}</string>
                <key>sourceSize</key>
                <string>{206,58}</string>
            </dict>
            <key>shuangbeilingqu.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,473},{207,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,58}}</string>
                <key>sourceSize</key>
                <string>{207,58}</string>
            </dict>
            <key>sign in.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,911},{95,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,124}}</string>
                <key>sourceSize</key>
                <string>{95,124}</string>
            </dict>
            <key>suo.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,844},{84,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,44}}</string>
                <key>sourceSize</key>
                <string>{84,44}</string>
            </dict>
            <key>tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,636},{217,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,121}}</string>
                <key>sourceSize</key>
                <string>{217,121}</string>
            </dict>
            <key>wenhao_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,1097},{74,96}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,18},{74,96}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>xiexie.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,562},{196,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,35}}</string>
                <key>sourceSize</key>
                <string>{196,35}</string>
            </dict>
            <key>yilingqu.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,713},{184,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,74}}</string>
                <key>sourceSize</key>
                <string>{184,74}</string>
            </dict>
            <key>yilingqu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1084},{151,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,120}}</string>
                <key>sourceSize</key>
                <string>{151,120}</string>
            </dict>
            <key>yinyuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,1072},{105,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,103}}</string>
                <key>sourceSize</key>
                <string>{105,103}</string>
            </dict>
            <key>zhuanpan.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,969},{101,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,112}}</string>
                <key>sourceSize</key>
                <string>{101,112}</string>
            </dict>
            <key>炫耀一下.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,354},{208,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,61}}</string>
                <key>sourceSize</key>
                <string>{208,61}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CommanderWidget.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:83567842c09f8325f8aec78b99566678$</string>
            <key>textureFileName</key>
            <string>CommanderWidget.png</string>
        </dict>
    </dict>
</plist>
