<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>36.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{236,424}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,15},{236,424}}</string>
                <key>sourceSize</key>
                <string>{360,450}</string>
            </dict>
            <key>37.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{238,424}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,15},{238,424}}</string>
                <key>sourceSize</key>
                <string>{360,450}</string>
            </dict>
            <key>unkonw.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,480},{236,414}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,25},{236,414}}</string>
                <key>sourceSize</key>
                <string>{360,450}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CommanderCharactersB.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e6156b878c5b0cd8c5bf2118a22eafa9$</string>
            <key>textureFileName</key>
            <string>CommanderCharactersB.png</string>
        </dict>
    </dict>
</plist>
